/*** reset ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}


/* common */

.border {
    border: 1px dashed red;
}

.nerko-one-regular {
    font-family: "Nerko One", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Montserrat", serif;
    background-color: #f6f5f3;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.hidden {
    display: none;
}

h3 {
    font-weight: normal;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 25px;
}

h1 {
    color: #4e3969;
    margin-bottom: 25px;
}

/*** header ***/

header {
    background-color: #ffffff;
    padding: 25px;
    text-align: center;

}

.logo {
    font-size: 40px;
    text-transform: uppercase;
    color: #ff9614;
    text-shadow: 1px 1px 3px #000000;
}

/*** main ***/


main {
    padding: 30px;
}

.m-container {
    margin: 0 auto;
}

.food-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.food-txt {
    background-color: #ffffff;
    padding: 40px;
}

.food-txt>strong {
    margin-bottom: 30px;
    display: block;
}

.food-txt ul li {
    margin-bottom: 20px;
}

.social-container {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

ul.social-container li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 20px;

}

.social-container li a {
    display: inline-block;
    text-align: center;
}

.soc-txt {
    text-transform: uppercase;
    color: #000000;
}

.fa-facebook {
    color: #1a77f3;
}

.fa-twitter {
    color: #009eff;
}

.fa-instagram {
    color: #e67578;
}

.fa-pinterest,
.fa-youtube {
    color: #e62222;
}


/*** footer ***/

footer {
    background-color: #7c69a4;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

footer li {
    text-decoration: underline;
}

footer li:hover {
    cursor: pointer;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

footer>div {
    margin-bottom: 10px;
}

/* media query */

@media (min-width: 768px) {

    header {
        text-align: revert;
    }

    .main {
        padding: 60px;
    }

    .m-container .hidden {
        display: revert;
    }

    .food-txt ul {
        display: flex;
        flex-wrap: wrap;
    }

    .food-txt ul li {
        width: calc(100% / 3);
    }

    ul.social-container li a {
        padding: 10px 50px;
    }

}

@media (min-width: 992px) {

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: revert;
    }

    .food-container {
        flex-direction: row;
    }

    .food-txt {
        flex-shrink: 0;
    }

    .food-img {
        flex-grow: 1;
    }

    .food-txt ul,
    .social-container .soc-txt {
        display: revert;
    }

    .food-txt ul li {
        width: revert;
    }

    ul.social-container li a {
        padding: 10px 20px;
    }
}